@model IVV.Website.DataModel.Post

@{
    ViewBag.Title = "AddNews";
}

@section head{
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<link href="~/Scripts/ckeditor/contents.css" rel="stylesheet" />
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><span>添加/编辑新闻</span></legend>
        @Html.HiddenFor(m => m.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(x => x.Content, new { @class="ckeditor" })
            @Html.ValidationMessageFor(model => model.Content)
        </div>


        
    </fieldset>
    <p class="p">
            <button class="button btn span2 pull-left">保存</button>
            <a href="/admin/news.aspx" class="button btn btn-info span2 pull-left ml2">返回列表</a>
        </p>
}



@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}
