@model IVV.Website.DataModel.Video

@{
    ViewBag.Title = "EditVideo";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><span>添加/编辑视频</span></legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @class="span10 height2"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HtmlCode)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.HtmlCode, new { @class="span10 height2"})
            @Html.ValidationMessageFor(model => model.HtmlCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImgUrl) (150 * 116)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImgUrl)
            <a title="上传图片" id="abtnUpload" class="merge btn"><i class="icon icon-upload"></i></a>
            <div id="divImg">
                @if (Model.Id != 0) {
                    <img src="@Model.ImgUrl" style="width:150px;" />
                }
            </div>
            @Html.ValidationMessageFor(model => model.ImgUrl)
        </div>

        
        
    </fieldset>
    <p class="p">
            <button class="button btn span2 pull-left">保存</button>
            <a href="/admin/video.aspx" class="button btn btn-info span2 pull-left ml2">返回列表</a>
        </p>
}



<div id="dialog" title="上传文件" style="display:none;">
	
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/uploader.js"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        var upload = new uploader({
            triggerId : "abtnUpload",
            dialogId: "dialog",
            container: "divImg",
            textId: "ImgUrl"
        });
        upload.init();
    });

</script>