@model IVV.Website.DataModel.Product

@{
    ViewBag.Title = "EditProduct";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><span>添加/编辑产品</span></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryId, ViewData["catlist"] as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubCategory)
            @Html.ValidationMessageFor(model => model.SubCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Color)
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.ImgUrl) (452 * 452)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImgUrl)
            <a title="上传图片" id="abtnUpload" class="merge btn"><i class="icon icon-upload"></i></a>
            <div id="divImg">
                @if (Model.Id != 0) { 
                    <img src="@Model.ImgUrl" style="width:150px;" />
                }
            </div>
            @Html.ValidationMessageFor(model => model.ImgUrl)
        </div>

        
    </fieldset>
    <p class="p">
            <button class="button btn span2 pull-left">保存</button>
            <a href="/admin/product.aspx" class="button btn btn-info span2 pull-left ml2">返回列表</a>
        </p>
}


<div id="dialog" title="上传文件" style="display:none;">
	
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/uploader.js"></script>

}

<script type="text/javascript">
    $(document).ready(function () {
        var upload = new uploader({
            triggerId : "abtnUpload",
            dialogId: "dialog",
            container: "divImg",
            textId: "ImgUrl"
        });
        upload.init();
    });

</script>