
@{
    ViewBag.Title = "News";
    var list = ViewData["list"] as IVV.Website.ClassLib.PageList<IVV.Website.DataModel.Post>;
}

@section head{

@if(false){
	<script src="~/Scripts/jquery-ui-1.10.2/jquery-1.9.1.js"></script>
	<script src="~/Scripts/jquery-ui-1.10.2/ui/jquery-ui.js"></script>
 }

}

<div class="search">
@using (Html.BeginForm())
{
    <table class="p">
        <tr>
            <td style="width:50px;">标题名称</td>
            <td style="width:150px;">@Html.TextBox("arcTitle")</td>
            
            <td>

                <button class="merge btn"><i class="icon icon-search"></i></button>
            </td>
        </tr>
        
    </table>
}
</div>

<table class="table">
    <thead>

        <tr>
            <th class="span2">编号</th>
            <th class="">标题</th>
            <th class="span3">创建时间</th>
            <th class="span2">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in list){
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.CreateDate.ToShortDateString()</td>
            <td>
                <a title="编辑" href="/admin/addnews/@item.Id"><i class="icon icon-edit"></i></a>
                <a title="删除" href="/admin/delnews/@item.Id" ><i class="icon icon-del"></i></a>

            </td>
        </tr>
        }
    </tbody>
</table>

@{
var pars = new Dictionary<string, object>();
        
    Html.RenderPager("_PageBar", list.Count, 10, (int)ViewData["pageIndex"], "/admin/news", pars);
}
<div class="clear">&nbsp;</div>
<p class="p ">
    @Html.ActionLink("添加新闻", "AddNews", null, new { @class="button"})
</p>
<div id="dialog" title="操作完成" style="display:none;">
	
</div>

