@{
    var list = ViewData["list"] as IVV.Website.ClassLib.PageList<IVV.Website.DataModel.NoteBook>;
} 

@{
    ViewBag.Title = "NoteBook";
}



<table id="tbList" class="table">
    <thead>
    <tr>
        <th class="span1"><input type="checkbox" class="_selall" /></th>
        <th class="span1">
            编号
        </th>
        <th class="span2">
            姓名
        </th>
        
        <th class="span3">
            公司
        </th>
        <th class="span2">
            国家
        </th>
        <th class="span2">
            电话
        </th>
        <th class="span2">
            Email
        </th>
        <th>
            消息
        </th>
        <th class="span2">
            创建日期
        </th>
        <th class="span2"></th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in list) {
    <tr>
        <td><input type="checkbox" name="selItems" value="@item.Id" /></td>
        <td>@item.Id</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <a class="btn" title="展开" style="text-decoration:underline;">展开...</a>
            <p style="display:none;">@item.Message</p>
        </td>
        <td>
            @item.CreateDate.ToShortDateString()
        </td>
        <td>
            @*@Html.ActionLink("Edit", "EditNoteBook", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DelNoteBook", new { id=item.Id })*@
            <a title="查看" href="/admin/notebookdetail/@item.Id"><i class="icon icon-edit"></i></a>
                <a title="删除" href="/admin/DelNoteBook/@item.Id" ><i class="icon icon-del"></i></a>
        </td>
    </tr>
}
</tbody>
</table>
<p class="p ">
    <a class="ml1 btn button pull-left" id="abtnDelAll" data-t="n">删除</a>
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tbList a.btn").click(function () {
            $(this).next("p").toggle();
        });
    });
</script>