


@{
    ViewBag.Title = "ProductCategory";
    var list = ViewData["list"] as IVV.Website.ClassLib.PageList<IVV.Website.DataModel.ProductCategory>;
}

<h2>ProductCategory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            名称
        </th>
        <th>
            封面图
        </th>
        <th>
            系列
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

@foreach (var item in list) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if(!string.IsNullOrEmpty(item.Cover)) {
            <img src="@item.Cover" style="width:100px;" />
            }
        </td>
        <td>
            @if(item.Series.HasValue){
                var sn = IVV.Website.ClassLib.EnumHelper.GetEnumDisplayName<IVV.Website.ClassLib.ProductSeries>((int)item.Series.Value);
                @sn
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProductCategory", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DelProductCategory", new { id=item.Id }) |
            @Html.ActionLink("增加子类", "EditProductCategory", new { pid=item.Id  }) 
        </td>
    </tr>
}

</table>
