@{
    ViewBag.Title = "Product";
    var list = ViewData["list"] as IVV.Website.ClassLib.PageList<IVV.Website.DataModel.Product>;

    var allCate = ViewData["allCateList"] as HashSet<IVV.Website.DataModel.ProductCategory>;
}

<div class="search">
@using (Html.BeginForm())
{
    <table class="p">
        <tr>
            <td style="width:50px;">名称</td>
            <td style="width:150px;">@Html.TextBox("arcTitle")</td>
            
            <td>

                <button class="merge btn"><i class="icon icon-search"></i></button>
            </td>
        </tr>
        
    </table>
}
</div>


<table class="table">
    <thead>
    <tr>
        <th class="span1"><input type="checkbox" class="_selall" /></th>
        <th class="span2">
            编号
        </th>
        <th>
            名称
        </th>
        <th class="span3">
            类别
        </th>
        <th class="span3">
            子类
        </th>
        <th class="span2">
            颜色
        </th>
        
        <th class="span4">
            产品图
        </th>
        <th class="span2"></th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in list) {
    <tr>
        <td><input type="checkbox" name="selItems" value="@item.Id" /></td>
        <td>@item.Id</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @allCate.SingleOrDefault(t=>t.Id == item.CategoryId).Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        
        <td>
            <img src="@item.ImgUrl" style="width:100px;" />
        </td>
        <td>
            @*@Html.ActionLink("Edit", "EditProduct", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DelProduct", new { id=item.Id })*@
            <a title="编辑" href="/admin/EditProduct/@item.Id"><i class="icon icon-edit"></i></a>
                <a title="删除" href="/admin/DelProduct/@item.Id" ><i class="icon icon-del"></i></a>
        </td>
    </tr>
}
</tbody>
</table>

@{
var pars = new Dictionary<string, object>();
        
    Html.RenderPager("_PageBar", list.Count, 10, (int)ViewData["pageIndex"], "/admin/product", pars);
}

<div class="clear">&nbsp;</div>
<p class="p ">
    @Html.ActionLink("添加产品", "EditProduct", null, new { @class="button pull-left"})
    <a class="ml1 btn button pull-left" id="abtnDelAll" data-t="p">删除</a>
</p>