


@{
    ViewBag.Title = "ProductCategory";
    var list = ViewData["list"] as IVV.Website.ClassLib.PageList<IVV.Website.DataModel.ProductCategory>;
}



<table class="table">
    <thead>
    <tr>
        <th class="span1"><input type="checkbox" class="_selall" /></th>
        <th class="span2">
            编号
        </th>
        <th>
            名称
        </th>
        <th class="span5">
            封面图
        </th>
        <th class="span3">
            系列
        </th>
        
        <th class="span2"></th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in list) {
    <tr>
        <td><input type="checkbox" name="selItems" value="@item.Id" /></td>
        <td>@item.Id

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if(!string.IsNullOrEmpty(item.Cover)) {
            <img src="@item.Cover" style="width:100px;" />
            }
        </td>
        <td>
            @if(item.Series.HasValue){
                var sn = IVV.Website.ClassLib.EnumHelper.GetEnumDisplayName<IVV.Website.ClassLib.ProductSeries>((int)item.Series.Value);
                @sn
            }
        </td>
        
        <td>
            @*@Html.ActionLink("Edit", "EditProductCategory", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DelProductCategory", new { id=item.Id }) |
            @Html.ActionLink("增加子类", "EditProductCategory", new { pid=item.Id  }) *@
            <a title="编辑" href="/admin/EditProductCategory/@item.Id"><i class="icon icon-edit"></i></a>
                <a title="删除" href="/admin/DelProductCategory/@item.Id" ><i class="icon icon-del"></i></a>
        </td>
    </tr>
}
</tbody>
</table>
<p class="p ">
    @Html.ActionLink("添加类别", "EditProductCategory", null, new { @class="button pull-left"})
    <a class="ml1 btn button pull-left" id="abtnDelAll" data-t="pc">删除</a>
</p>