@model IVV.Website.Models.LoginModel

@{
    ViewBag.Title = "修改密码";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend><span>修改密码</span></legend>

        <div class="editor-label">
            旧密码
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            新密码
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            确认新密码
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        
        

        
        
@*
        else {
        <div class="editor-field hide">
            @Html.EditorFor(model => model.ParentId)
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>
        }*@
        
    </fieldset>
    <p class="p">
            <button class="button btn span2 pull-left">保存</button>
        </p>
}



<div id="dialog" title="上传文件" style="display:none;">
	
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/uploader.js"></script>

}

<script type="text/javascript">
    $(document).ready(function () {
        var upload = new uploader({
            triggerId : "abtnUpload",
            dialogId: "dialog",
            container: "divImg",
            textId: "Cover"
        });
        upload.init();
    });

</script>