@{
    var list = ViewData["list"] as IVV.Website.ClassLib.PageList<IVV.Website.DataModel.Video>;
} 

@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>

<p>
    @Html.ActionLink("新建", "EditVideo")
</p>
<table>
    <tr>
        <th>
            标题
        </th>
        <th>
            内容简介
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HtmlCode)
        </th>*@
        <th>
            预览图
        </th>
        
        <th></th>
    </tr>

@foreach (var item in list) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.HtmlCode)
        </td>*@
        <td>
            <img src="@item.ImgUrl" style="width:100px;" />
        </td>
        
        <td>
            @Html.ActionLink("Edit", "EditVideo", new { id=item.Id }) |
            
            @Html.ActionLink("Delete", "DelVideo", new { id=item.Id })
        </td>
    </tr>
}

</table>

@{
var pars = new Dictionary<string, object>();
        
    Html.RenderPager("_PageBar", list.Count, 10, (int)ViewData["pageIndex"], "/admin/video", pars);
}
