@model IVV.Website.DataModel.NoteBook
@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Website/_LayoutList.cshtml";
}


@section head{
<style type="text/css">
body {
	background-image: url(images/dettaglio-niagara.jpg);
}
#content {
	font-size:12px;
}

table td {
	padding:6px 0 5px;
}

.textBox {
	border:1px solid #eaeaea;
	background:url(images/input_bg.png) left top repeat;
	padding:4px;
	font-size:14px;
	width:280px;
}
    textarea.msg
    {
        width:280px;height:80px;
    }
    .must
    {
        color:#b94a48;
    }
</style>
    <script src="/Scripts/jquery-ui-1.10.2/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

@section menu{
	@Html.Action("menu", "Website", new { name="联系我们" })
}

<h1>联系我们</h1>
<br /><br />

<p><strong>Opening hours</strong></p>
<p>Monday: 16.00-20.00<br />
    Tuesday - Saturday: 9.00-13.00 16.00-20.00<br />
</p><br />

<div><p><strong>IVV SHOP</strong><br />
Lungarno Guido Reni n.60 San Giovanni V.no (AR)<br />
Phone + 39.055.942619</p>
</div>
<br />
<div>
<p><strong>IVV OUTLET Design Outlet Italiano - welcHome Santhi&agrave;</strong><br />
Corso 25 Aprile, Loc. Moleto Sud, Santhi&agrave; (VC) </p>
</div>

<br /><br /><br />
@using(Html.BeginForm()) {
	<table>
		<tr>
			<td style="width:120px;">姓名: </td>
			<td>
                @Html.EditorFor(model => model.Name)<span class="must"> *</span>
                @Html.ValidationMessageFor(model => model.Name)
			</td>
		</tr>
		
		<tr>
			<td>公司:</td>
			<td>
                @Html.EditorFor(model => model.Company)
                @Html.ValidationMessageFor(model => model.Company)
			</td>
		</tr>
		<tr>
			<td>国家:</td>
			<td>
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
			</td>
		</tr>
		<tr>
			<td>手机:</td>
			<td>
                @Html.EditorFor(model => model.Phone)<span class="must"> *</span>
                @Html.ValidationMessageFor(model => model.Phone)
			</td>
		</tr>
		<tr>
			<td>E-mail:</td>
			<td>
                @Html.EditorFor(model => model.Email)<span class="must"> *</span>
                @Html.ValidationMessageFor(model => model.Email)
			</td>
		</tr>
		<tr>
			<td valign="top">留言:</td>
			<td>
                @Html.TextAreaFor(model => model.Message, new { @class="msg"})<span class="must"> *</span>
                @Html.ValidationMessageFor(model => model.Message)
			</td>
		</tr>
		<tr>
			<td>验证码:</td>
			<td>
				
				@Html.EditorFor(model => model.ValCode)<span class="must"> *</span>
                
                <img id="imgCoder" src="~/Service/CheckImage.aspx" alt="" 
					title="看不清楚？点击换一张"  />
                <br />
                @Html.ValidationMessageFor(model => model.ValCode)
			</td>
		</tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" style="background:url(/images/form_send.png);width:85px;height:30px;">&nbsp;&nbsp;&nbsp;</button>
            </td>
        </tr>
	</table>
}

<script type="text/javascript">
    $("#imgCoder").click(function () {
        $(this).attr("src",
            "@Url.Content("~/Service/CheckImage.aspx?rnd=")" + Math.random());
    });
    @if (TempData["SuccessMsg"] != null) { 
        @:alert("@TempData["SuccessMsg"]");
    }
</script>




