@model IVV.Website.Models.ProductModel
@{
    Layout = "~/Views/Website/_layoutProduct.cshtml";
    var c = Request.QueryString["c"];
    var sc = Request.QueryString["sc"];
    var color = Request.QueryString["color"];
    var split = new string[]{"*$*"};
}

<div id="dropList">

		<div style="text-align:right;">
			<img src="~/Images/button-home-big-on.png" />
			<img src="~/Images/button-table-off.png" style="width:100px;" />
		</div>

		<div style="clear:right;">
		大类：<br />
		<select id="selHead">
            <option value="">请选择</option>
			@foreach (var item in Model.CategoryList) { 
            <option value="@item.Id" @if(c == item.Id.ToString()){<text>selected</text>}>@item.Name</option>
            }
		</select>
		</div>

		<div style="clear:right;">
		小类：<br />
		<select id="selSub">
            <option value="">请选择</option>
			@foreach (var item in Model.SubCategoryList) {
                
               var arr = item.Split(split,StringSplitOptions.RemoveEmptyEntries);
               if (!string.IsNullOrEmpty(c)) {
                   
                   if (arr[0] == c) { 
                     <option value="@arr[1]" @if(sc == arr[1]){<text>selected</text>}>@arr[1]</option>
                   }
               }
               else { 
                   <option value="@arr[1]">@arr[1]</option>
               }
       
            }
		</select>
		</div>	

		<div style="clear:right;">
		颜色：<br />
		<select id="selColor">
			<option value="">请选择</option>
			@foreach (var item in Model.ColorList) { 
            <option value="@item" @if(color == item){<text>selected</text>}>@item</option>
            }
		</select>
		</div>
	</div>

<div id="main">
	<div id="photoList">
        
		@if(Request["type"] != "in"){
		    foreach (var item in Model.CategoryList) { 
            <div>
			<a href="ProductList.aspx?type=in&c=@item.Id"><img src="@item.Cover" class="img_normal" /></a>
			<p>@item.Name</p>
		    </div>
        }
	    }else{
            
            foreach (var item in Model.ProductList) { 
            <div>
			<a href="/ProductItem.aspx?id=@item.Id" >
                <img src="@item.ImgUrl" class="img_normal" />
			</a>
			<p>@item.Name</p>
		    </div>
            }
            
	    <div style="float:none;">&nbsp;</div>
	}
	</div><!-- PhotoList -->

	@if (Request["type"] == "in") {
	<div id="photo_small">
		<a href="~/Images/photo/b1b.jpg" rel="lightbox-cat"><img src="~/Images/photo/b1.jpg" /></a>
		<a href="~/Images/photo/b2b.jpg" rel="lightbox-cat"><img src="~/Images/photo/b2.jpg" /></a>
		<a href="~/Images/photo/b3b.jpg" rel="lightbox-cat"><img src="~/Images/photo/b3.jpg" /></a>
	</div>
	}

	</div>

<script type="text/javascript">
    $("#selHead").change(function () {
        window.location.href = "/ProductList.aspx?type=in&c=" + $(this).val();
    });

    $("#selSub").change(function () {
        window.location.href = "/ProductList.aspx?type=in&c=" + $("#selHead").val() + "&sc=" + $(this).val();
    });

    $("#selColor").change(function () {
        window.location.href = "/ProductList.aspx?type=in&c=" + $("#selHead").val() + "&sc=" + $("#selSub").val() + "&color=" + $(this).val();
    });

</script>